<a href="https://colab.research.google.com/github/LAKSH3002/Python_Libraries_Studies/blob/main/Python_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Chapter 1 : Numbers, Data types, Variables, comments, Casting, Type conversion, Inputs

import random
print('Hello World')
print('*'*10)

# Variable declaration and used it
u = float(4)
w = int(9)
x = 5
y = "Laksh"
a = b = c = "Orange"
d,e,f = 5,9,12
fruits = ['l', 'J', 'k']
cc  = 3+2j
s,t,u = fruits
print(s,t,u)

# Int is a positive whole number (positive, negative), it can be of unlimited length
# float is a decimal value,Float can also be scientific numbers with an "e" to indicate the power of 10.
# Complex numbers are written with a "j" as the imaginary part
# we can convert a value from one data type to another using type conversion
xx = float(x)
ww = str(w)
print(xx, ww)
print(random.randrange(1,20))

# values printed
print(u, w, x, y)
print(a,b,c,cc)
print(d,e,f)

var = input('What is your name')
print(var)

Hello World
**********
l J k
5.0 9
7
k 9 5 Laksh
Orange Orange Orange (3+2j)
5 9 12
What is your nameLaksh
Laksh

In [ ]:
# Chapter 2: Strings in Python

# 1) Multiline Strings
x = """Hello World
How are you doing"""
print(x)

# 2) Strings can be represented as array too
xx = "Laksh is a Hero"
ss = "Apple is a good fruit"
print(xx[0], len(ss), len(xx))
print("good" in ss, "good" not in ss) # They can be presented in form of strings as well.
print(ss[2:7], ss[:5], ss[4:]) # Slicing of strings
print(xx[-5:-1])
print(ss + " " + xx)

# Formatting of Strings
age = 36
txt = f"My name is John, I am {age}"
print(txt)

price = 59
txt2 = f"The price is {price:.2f} dollars"
print(txt2)

# escape sequence: \n, \t, \b, \\
# Python has boolean values

Hello World
How are you doing
L 21 15
True False
ple i Apple e is a good fruit
 Her
Apple is a good fruit Laksh is a Hero
My name is John, I am 36
The price is 59.00 dollars
False False False

In [ ]:
# Chapter 3: Booleans and operators

# there are not many values that evaluate to False, except empty values, such as (), [], {}, "",
# the number 0, and the value None. And of course the value False evaluates to False.

print(bool(False), bool(()), bool())
print(bool(2), bool("Laksh"))

# Membership operator (in and not in)
# check if a sequence with the specified value is present in the object or not.

#bitwsise operator: And, Or, Zero fill left shift, Signed right shift, not operations
# Zero fill left right - Shift left by pushing zeros in from the right and let the leftmost bits fall off
# Signed right shift - Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off
print(6 & 3, 5 | 2, 4 >> 2, 5 << 3, ~5)

# Precedence operator of operators: (), **, +x and -x, *, /, %, then additon and subraction, then bitwise operators.

False False False
True True
2 7 1 40 -6

In [ ]:
# Chapter 4: Collection of Items
# For lists, tuples, sets and dictionary along with its operations go to pycharm and revise,
# Any theoritical important information of it will be there on the word document.

# A - lists
# Lists are changeable
# List is created using [] brackets
fruits = ['grapes', 'apples', 'bananas', 'cherry', 'strawberry']
for x in fruits:
  print(x)

# List Comprehension
newlist = [x for x in fruits if "a" in x]
newlist2 = [x for x in range(10)]
newlist3 = ['hello' for x in fruits]
print(newlist)
print(newlist2)
print(newlist3)

#Sorting of list - by default sort method is case sensitive
fruits.sort(key=str.lower)
print(fruits)
n = [2, 7, 9, 1, 0, 9, 3, 22]
n.sort()
print(n) # AO
n.sort(reverse=True)
print(n) #DO

# copy list items
copylist = fruits.copy()
# 2nd method: copylist = list(thislist)
# 3rd method: thislist[:]
join = fruits + n
print(join)
print(copylist)

grapes
apples
bananas
cherry
strawberry
['grapes', 'apples', 'bananas', 'strawberry']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['hello', 'hello', 'hello', 'hello', 'hello']
['apples', 'bananas', 'cherry', 'grapes', 'strawberry']
[0, 1, 2, 3, 7, 9, 9, 22]
[22, 9, 9, 7, 3, 2, 1, 0]
['apples', 'bananas', 'cherry', 'grapes', 'strawberry', 22, 9, 9, 7, 3, 2, 1, 0]
['apples', 'bananas', 'cherry', 'grapes', 'strawberry']

In [ ]:
# Tuples
# A tuple is a collection which is ordered and unchangeable and allow duplicates.
# Tuples are written with round brackets. length taken out using len

my_Tuple = (4, 5, 6, 7, 8, 9)
onetuple = ('Apple',) # remember the comma if there is only one item to be presented in the tuple.
print(type(my_Tuple))
# Tuples value are accessed in the same manner that of list, range, negative indexing and more
print(my_Tuple[3])
print(my_Tuple[2:4])

# In order to change the tuple, convert it into a list, perform operations and then convert it back into tuple.
t = list(my_Tuple)
t[1] = 55
print(my_Tuple)
del my_Tuple # This deletes the tuple

fruits = ('apple', 'orange', 'chiku', 'banananas')
(g,r,d,e) = fruits
(green, *tropic, red) = fruits
print(tropic)
print(g,d,e,r)

# looping a tuple - normal way
for i in range(len(fruits)):
  print(fruits[i])

<class 'tuple'>
7
(6, 7)
(4, 5, 6, 7, 8, 9)
['orange', 'chiku']
apple chiku banananas orange
apple
orange
chiku
banananas

In [ ]:
# Sets.
# A set is a collection that is unordered, unchangeable and unindexed.
# Sets do no allow duplicate values
# The values true & 1 and False & 0 are considered same in set and thus duplicates (imp in case of joining)
# Enclosed within curly braces

# Creation methods of sets
thisset = {7,6,9,10,22}z
print(len(thisset))
thisset2 = {"apple", 34, True, 44.5}
print(type(thisset2))
thisset3 = set(('Hello', 'Hi'))
print(thisset3)

# You cannot access values of a set directly, its possible with a loop or else use conditions
print(10 in thisset)
print('Hello Hi' in thisset)
thisset.add(44)
# To add content from one tuple to another we use update() function.
# By default elements are arranged in ascending order
thisset.update(thisset2)
print(thisset)

# Both thses methods will remove that specific value
thisset3.remove('Hi')
thisset2.discard(34)
print(thisset3)
# pop() removes a random value
# clear() empties the whole set.
del thisset3

# There are several ways to join sets
# Union, Intersection, difference,
# you can also join a set with a tuple
set1 = {1,2,3,4,5,}
set2 = {'L', 'K', 'J', 'H'}
# 1) Union: Can add n number of sets with the primary set
# Both union() and update() will remove duplicate items
set3 = set1.union(set2) # can also write set 1 | set 2 | set 3 | set 4
print(set3)

# 2 - Intersection - All the elements in common will be printed
set11 = {"apple", "banana", "cherry"}
set22 = {"google", "microsoft", "apple"}

set33 = set11.intersection(set22) # set22 & set33
print(set33)

# intersection_update(), systematic_difference_update(), difference_update()
# All the above will change the original set instead of returning a new set
s1 = {"apple", "banana", "cherry"}
s2 = {"google", "microsoft", "apple"}
s1.intersection_update(s2)
print(s1)

# 4 - difference: items from set1 and excludes items from set2 (returns a new set)
s33 = s1.difference(s2) # can also write s1 - s2
# systematic difference: will keep only the elements that are NOT present in both the sets.

5
<class 'set'>
{'Hello', 'Hi'}
True
False
{True, 'apple', 34, 6, 7, 9, 10, 44, 44.5, 22}
{'Hello'}
{1, 2, 3, 4, 5, 'J', 'H', 'K', 'L'}
{'apple'}

In [ ]:
# Dictionaries: Data stored in key value pairs
# A collection which is ordered, changeable & do not allow duplicates, enclosed within curly braces
# The items are referred using the key name.
# If we duplicate values, then the lastly declared key will overwrite previous key.
# Method 1 of declaring a dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(len(thisdict)) # Number of items a dictionary has
print(thisdict)
print(type(thisdict))

# Method 2 of declaring a dictionary
thisdict2 = dict(name = "John", age = 36, country = "Norway")
print(thisdict2)

# method to access a single key/all the keys in a dictionary
x = thisdict.get("model")
print(x)
y = thisdict.keys() # keys of the dictionary
print(y)
z = thisdict.values() # values of dictionary
print(z)
w = thisdict.items() # items in tuples format
print(w)

# changing items in a dictionary
thisdict['year'] = 2023 # method 1
thisdict.update({"year": 2023}) # method 2

# adding items in a dictionary: use the update method or normally add it.
thisdict.update({"Laksh": "Hero"})
print(thisdict)
# or thisdict['laksh'] = 'hero'

# removing items from a dictionary
thisdict.pop("model")
print(thisdict)
# or you can use thisdict.popitem(), thisdict.clear(), del thisdict()

# loop through dictionaries
for i in thisdict:
  print(i)
# x will print keys, thisdict[x] will print values, thisdict.items() will help print both

for i in thisdict.keys():
  print(i)
# the above for loop prints keys, to print values: thisdict.values()

# Copying dictionaries - 2 methods
mydict = thisdict.copy()
mydict2 = dict(thisdict)
print(mydict)
print(mydict2)

# Nested dictionaries
family = {
    "child1" : {
    "name" : "Emil",
    "year" : 2004
    },
    "child2" : {
    "name" : "Tobias",
    "year" : 2007
    },
    "child3" : {
    "name" : "Linus",
    "year" : 2011
    }
}
print(family)

# most important dictionary methods
# len, type, update(), pop(), popitem(), clear(), del, .get, .keys, .values, .items, .copy()

3
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
<class 'dict'>
{'name': 'John', 'age': 36, 'country': 'Norway'}
Mustang
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
{'brand': 'Ford', 'model': 'Mustang', 'year': 2023, 'Laksh': 'Hero'}
{'brand': 'Ford', 'year': 2023, 'Laksh': 'Hero'}
brand
year
Laksh
brand
year
Laksh
{'brand': 'Ford', 'year': 2023, 'Laksh': 'Hero'}
{'brand': 'Ford', 'year': 2023, 'Laksh': 'Hero'}
{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
# Comparison between lists, sets, tuples and dictionaries.
# 1) List
# Items enclosed within squared brackets,
# Lists are ordered (defined order), changeable (add, remove items) and allow duplicate items

# 2) Sets
# Sets are enclosed within curly braces
# Sets are unordered, unchangeable and does not allow duplicates

# 3) Tuples
# Tuples are enclosed inside round brackets
# Tuples are Ordered, unchangeable and allows duplicates

# 4) Dictionary
# They are in the form of key-value pairs
# They are ordered, changeable and do not allow duplicates (similiar to a real dictionary)

In [ ]:
# Match expression: Similiar to switch-case of java
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case _:
    print("Sunday")

# The underscore is like print this if none matches
# we can also use the pipe character as an operator
day2 = 4
month = 4
match day2:
  case 1 | 2 | 3 | 4 | 5 if month==4:
    print("Weekday")
  case 6 | 7 if month==5:
    print("Weekend")
  case _:
    print('No match')

Thursday
Weekday

In [ ]:
# for loop
# syntax: for variable name in Iterator: then printing statements
names = ['Laksh', 'varun', 'jay', 'shah']
for x in names:
  print(x)

# break and continue statements in loops
for i in names:
  print(i)
  if i == 'varun':
   break

for i2 in names:
  if i2 == 'varun':
    continue
  print(i2)

# range() - returns a sequence of numbers, starting from 0 by default and increments by 1
# for r in range(3,30,6):
#  print(r)

# Nested Loops
adj = ["r", "b", "t"]
fruits = ["a", "b", "c"]

for x in adj:
  for y in fruits:
    print(x, y)

# pass statement
for x in [0,1,2]:
  pass

# 2) WHILE LOOP
w = 1
while w<6:
  print(w)
  w = w + 1

# break and continue in while loop
w2 = 1
while w2<6:
  print(w2)
  if w2 == 3:
    break
  w2 = w2 + 1

Laksh
varun
jay
shah
Laksh
varun
Laksh
jay
shah
r a
r b
r c
b a
b b
b c
t a
t b
t c
1
2
3
4
5
1
2
3

In [ ]:
# Functions
def myfunction():
  print('Hello I am a function')

myfunction()

# passing arguments
def myfunction2(name): # here name is an argument
  print(name+ " is a lengend") # here name is reffered to as a parameter

myfunction2('Laksh')
# Number of arguments must match while making the function call, otherwise it will throw an error
# If we do not know the number of arguments to be sent to the function, add a *with the variable

# arbitrary keyword arguments: double asterick **variable name: when we do not know how many arguments will be passed
# double asterick will return key value pairs, single asterisk is to pass a tuple
def function3(**name):
  print(name['lname'] + " " + name['fname'])

function3(fname='laksh', lname='doshi')

# Default values:
def country(c = 'india'):
  print(c)

country('Australia')
country()

# We can also declare a list and pass it as an argument, but then add a loop in the function to extract all items
# Functions with a return value
def returningfunction(x):
  return 5*x

print(returningfunction(10))

# Like loops, functions cannot be empty too, thus we use pass

# Doubt in positional-only arguments and keyword only arguments
# To specify that a function can have only positional arguments: use ,/ after the argument
# To specify that a function can have only keyword arguments: use ,* after the argument
def f(*,x): # f(x,/)
  print(x)

f(x=3)

# Recursion - calling a function within a function
# use case: calculating factorials, fibonacci sequence
def factorial(n):
  if(n>0):
    return n*factorial(n-1)
  else:
    return 1

factorial(6)

Hello I am a function
Laksh is a lengend
doshi laksh
Australia
india
50
3

720

In [ ]:
# Lambda function: Anonymous function
# It can take any number of arguments, but can have only one expression
x = lambda a,b,c: a+b+c
print(x(6,5,2))

# Why to use lambda function
# The power of lambda is better shown when you use them as an anonymous function inside another function.
# Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)
print(mydoubler(11))
print(mytripler(11))

13
22
33

In [ ]:
# Arrays: Python does not have built-in support for arrays, but python lists can be used instead
# Arrays is a special variable that holds more than one values at a time.
cars = ['ford', 'toyota', 'mercedes']
cars.append('bmw')
print(cars)
cars.pop(1)

# Some methods: append(), clear(), copy(), count(), pop(), remove(), reverse()

In [ ]:
# OOP - object oriented programming (the concept of classes and objects)
# Reusable set of codes, clear structure of programs

# 1 - Class (It is like a blueprint or an object constructor)
# Class creation
class name:
  x = 5

# Object creation
p = name()
print(p.x)

# The __init__() function: automatically called every time class is used to create an object
# All classes have this function, which is always executed when the class is being initiated
# Use this function to assign values to object properties.
class People:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  # __str__() function controls what should be returned when the class object is represented as a string
  def __str__(self):
    return f"{self.name}({self.age})"

p = People('Laksh', 23)
print(p)

# with __init__() the string representation of the object is returned
class Person2:
  def __init__(person, name, age):
    person.name = name
    person.age = age

  def __str__(abc):
    return f"{abc.name}({abc.age})"

p1 = Person2('Doshi', 22)
p1.age = 23
print(p1)

# I also did deleting of objects and parameters
# Defining classes, objects, init function and str function and its use

5
Laksh(23)
Doshi(23)

In [ ]:
# Inheritance
# Concept of parent class and child class

# Parent class - simple class with basic syntax
class Person:
  def __init__(mine, name, age):
    mine.name = name
    mine.age = age

  def printname(boy):
    print(boy.name, boy.age)

x = Person('Laksh', '22')
x.printname()

# Child class
class Student(Person):
  pass

y = Student('Jay', '22')
y.printname()

# In case we dont want to use pass then use the __init__() function
# But when this function is added, the class will no longer inherit parent's methods
# TO keep the inheritance of the parent class, add a call to the parent's __init__() function
# init function is a constructor that helps to initialize a newly created object state.

class student2(Person):
  def __init__(self, name, age):
    Person.__init__(self, name, age)

z = student2('Swini', '25')
z.printname()

# Super keyword: It Makes the child class inherits everything from the parent class without using the parent name
# Syntax: super.__init__()

# New child class with everything combined
class Student3(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.name, "to the class of", self.graduationyear)

obj = Student3('Laksh', 'Doshi', 2023)
print(obj.graduationyear)
obj.welcome()

# To discuss in detail: init function, super function and inheriting technique in Python.

Laksh 22
Jay 22
Swini 25
2023
Welcome Laksh to the class of 2023

In [ ]:
# Polymorphism
# Same name function with different parameters
# class 1
class Car:
  def __init__(cars, brand, model):
    cars.brand = brand
    cars.model = model

  def move(cars):
    print('drive')

# Class 2
class Boat:
  def __init__(boat, brand, model):
    boat.brand = brand
    boat.model = model

  def move(boat):
    print('sail')

# class 3
class Plane:
  def __init__(plane, brand, model):
    plane.brand = brand
    plane.model = model

  def move(plane):
    print('fly')

car1 = Car('Ford', 'Mustang')
boat1 = Boat('Ibiza', 'Touring 20')
plane1 = Plane('Boeing', '747')

for x in (car1, boat1, plane1):
  print(x.brand)


# Polymorphism and Inheritance requires more pratice and revision to get good with it.

Ford
Ibiza
Boeing

In [ ]:
# Iterators - contains a countable number of objects.
# Two methods: __iter__ and __next__
# Create an iterator
# Will have to understand more to write code for iterators, polymorphism and inheritance.